* {
  box-sizing: border-box;
}

img, input, button, div, section {
  max-width: 100%;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

body {
    margin: 0;
    font-family: Arial;
    color: white;
    background: url('https://images.unsplash.com/photo-1506521781263-d8422e82f27a?q=80&w=1920') no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
}

/* OVERLAY ESCURO (ESSENCIAL) */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    z-index: -1;
}

/* HEADER */
.topo {
    background: #ec7000;
    display: flex;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;    /*joga os itens para as extremidades */
    align-items: center;      
}

.topo img {
    width: 50px;
    margin-left: 20px;
}

/* CONTAINER */
.container {
    padding: 30px;
}

/* CARD PRINCIPAL */
.painel {
    background: #1e1e1e;
    padding: 30px;
    border-radius: 12px;
    max-width: 900px;
    margin: auto;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

/* INPUT GRANDE */
.input-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 15px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
}

/* BOTÃO */
button {
    background: #ec7000;
    border: none;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #d46000;
}

/* RESULTADO */
.resultado {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    background: #2a2a2a;
}

/* STATUS LIBERADO */
.liberado {
    border-left: 6px solid #00ff9c;
}

/* STATUS BLOQUEADO */
.bloqueado {
    border-left: 6px solid red;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

/*.box {
    background: linear-gradient(145deg, #3a3a3a, #2f2f2f);
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: 0.2s;
    padding: 15px;
    border-radius: 10px;
}

.box small {
    display: block;
    color: #aaa;
    margin-bottom: 5px;
    font-size: 12px;
}
*/

.box {
    border-left: 2px solid#d46000;
    background: linear-gradient(145deg, #3a3a3a, #2f2f2f);
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    filter: drop-shadow(2px 1px 5px #d46000) ;
    transition: 0.2s;
    padding: 15px;
    border-radius: 10px;
}

/* TÍTULO */
.box small {
    color: #aaa;
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

/* PLACA GRANDE */
/* .placa {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
} */

.placa1{
    width:200px;
    height:80px;
    background:#fff;
    border:2px solid #fff;
    border-radius:10px;
    overflow:hidden;
    margin:0 auto 20px;
    box-shadow:0 4px 10px rgba(0,0,0,.3);
}
.placa{
    width:200px;
    height:75px;
    background:#fff;
    border:3px solid #333;
    border-radius:10px;
    overflow:hidden;
    margin:0 auto 20px;
    box-shadow:0 4px 10px rgba(0,0,0,.3);
}

.placa-topo{
    background:#0039A6;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    letter-spacing:-1px;
    font-size:14px;
}

.placa-numero{
    height:calc(100% - 24px);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    font-weight:900;
    color:#111;
    letter-spacing:4px;
    font-family:"Arial Black", Arial, sans-serif;
}

/* HISTÓRICO */
.historico {
    margin-top: 30px;
}

.historico-topo {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

#toggleHistorico {
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.historico-conteudo {
    max-height: 250px;
    overflow: hidden;
    transition: all 0.3s ease;
}

/* estado recolhido */
.historico-conteudo.recolhido {
    max-height: 0;
    opacity: 0;
}

.item {
    border-bottom: 1px solid #444;
    padding: 8px 0;
}

/* RESPONSIVIDADE BASE */
img, input, button {
    max-width: 100%;
}

.container {
    width: 100%;
    padding: 20px;
}

/*Animação loading*/
.loading-box {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
    justify-content: center;
    padding: 15px 0;

    /*    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;*/
}

.spinner {
    width: 30px;
    height: 30px;
    border: 4px solid #444;
    border-top: 4px solid #ec7000;
    border-radius: 50%;
    animation: girar 3s linear infinite;
    margin-bottom: 10px;
}

@keyframes girar {
    to { transform: rotate(360deg); }
}

.loading-text {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 8px;
}

.progress-bar {
    width: 50%;
    height: 4px;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 0%;
    background: #3b82f6;
    animation: carregando 1s linear forwards;
}

.skeleton {
    background: linear-gradient(
        90deg,
        #2a2a2a 25%,
        #3a3a3a 50%,
        #2a2a2a 75%
    );
    background-size: 200% 100%;
    animation: shimmer 1.2s infinite;
    border-radius: 8px;
}

.skeleton-box {
    height: 50px;
}

@keyframes shimmer {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}

@keyframes carregando {
    from { width: 0%; }
    to { width: 100%; }
}

@media (max-width: 768px) {
    /* CONTAINER */
    .container {
        padding: 15px;
    }
    .painel {
        margin: 10px;
        border-radius: 10px;
        padding: 20px;
    }
    /* INPUT + BOTÃO em coluna */
    .input-box {
        flex-direction: column;
    }
    input {
        width: 100%;
        font-size: 18px;
        box-sizing: border-box;
    }
    button {
        width: 100%;
        /*padding: 12px;
        font-size: 16px;*/
    }
    
    /* RESULTADO */
    .placa {
        font-size: 22px;
        text-align: center;
    }

    /* GRID vira 1 coluna */
    .grid {
        grid-template-columns: 1fr;
    }

    /* BOX mais confortável */
    .box {
        padding: 12px;
    }

    /* LOADING centralizado */
    .loading-box {
        align-items: center;
        text-align: center;
    }
    .progress-bar {
        width: 100%;
    }
       .historico {
        font-size: 14px;
    }

    .item {
        font-size: 13px;
    }
}

/* @media (max-width: 400px) {
    .topo {
        font-size: 16px;
        padding: 10px;
    }
    input {
        font-size: 16px;
        padding: 12px;
    }
    button {
        font-size: 16px;
        padding: 12px;
    }
    .input-box {
        width: 100%;
    }
    input, button {
        transition: all 0.2s ease;
    }
    .placa {
        font-size: 20px;
    }
} */